* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    color: gold;
    background-color: black;
    padding: 20px 0;
    width: 100%
}

#name {
    

}


.nav {
float:right;
margin-right: 25px;
font-size: 20px;
list-style: none;

}

.nav ul {
    padding: 0;
    margin:30px;
    list-style: none;
    text-align: right;
}

.nav ul li {
    float:right;
    margin-right: 25px;
    font-size: 20px;
}

.nav a {
    color: black;
}

#coolsubtitle {

}

.section-container {
    margin-top: 10em;

}

.section-aboutme {
    padding: 2em;
}

#me {
    height: 500px;
    width: 500px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: black 1px solid;
    margin-bottom: 5em;
}

#work {
    margin-top: 5em;

}

.boxes {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    gap: 1em;
    justify-content: center;
    margin-bottom: 10em;
}

.box {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15px;
    padding: 2em;
   
    
    
}

.box-s2 {
 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15px;
    padding: 2em;
    

}

.box:hover {
    box-shadow: 0 0 30px paleturquoise;

}

.box-s2:hover {
    box-shadow: 0 0 30px paleturquoise;
    
}


#box-one {
    font-size: 26px;
    color: gold;
    background-color: black;
}

#box-two {
    font-size: 26px;
    color: black;
    background-color: gold;
}

#box-three {
    font-size: 26px;
    color: gold;
    background-color:black;
}

#box-four {
    font-size: 26px;
    color: black;
    background-color: gold;
}




footer {
    background-color: gold;
    width: 100%;
    position: relative;
    ::content: align-items;
    left: 0;
    bottom:0;
    display: block;
    height: 100px;
	
    
}

.footer-info ul {
    padding: 0;
    margin:30px;
    list-style: none;
    text-align: right;
}

.footer-info ul li {
    float:right;
    margin-right: 25px;
    font-size: 20px;
}

.footer-info a {
    color: black;
}

#contact-me {
    color: black;
    font-size: 26px;

    
}

@media screen and (max-width:760px) {
    .boxes {
        grid-template-columns: 400px;
        grid-template-rows: 400px 400px 400px 400px;

    }
}
    
